@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, 'Segoe UI', 'Noto Sans Arabic', Arial, sans-serif;
  direction: rtl;
  text-align: right;
}
